# Python
__pycache__/
*.pyc
backend/app/__pycache__/main.cpython-312.pyc

# Virtual Environment
backend/chaatapp/
venv/

# VS Code
.vscode/

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db